@import "../../../../../assets/styles/variables";

.#{$app-prefix}-profile-user {
    align-items: center;
    border-left: 1px solid var(--panel-phone-chat-border-color);
    column-gap: 0;
    cursor: pointer;
    display: grid;
    grid-template-columns: auto auto auto;
    height: var(--panel-header-app-height);
    justify-content: center;
    padding: 0 0.2em;

    .profile-photo {
        height: $pix-40;
        width: $pix-40;

        img {
            border-radius: $per-50;
        }
    }

    .profile-user {
        color: var(--panel-header-app-text-font-color);
        display: none;
        font-size: 0.7em;
        font-weight: bold;
    }
}

@media (min-width: $resolution-35em) {
    .#{$app-prefix}-profile-user {
        column-gap: 0.5em;
        padding: 0 0.5em;

        .profile-user {
            display: block;
        }
    }
}